/*
'Conv_Ossem-Rounded'
*/
/* Header styles */

.header{
    width: 1280px;
    padding-bottom: 375px;
    background: url("../img/Header-bg.png") no-repeat center;
    margin-left: 300px;


}

.conteiner{
    width: 1280px;
    margin: 0 auto;
    height: 375px;

}



.header-logo-link{
    display: block;
}

.header-logo-1{
    font-family: 'Conv_Ossem-Rounded';
    font-size: 42px;
    color:cyan;
}

.header-logo-2{
    font-family: 'Conv_Ossem-Rounded';
    font-size: 46px;
    color:black;
}

.header-logo-link{
    text-decoration: none;
}

.header-nav{
    float: right;
    margin-top: 40px;
    margin-right: 20px;
}

.header-logo{
    float: left;
    margin-left: 40px;
    margin-top: 25px;
}


.header-nav-list-item{
float: left;
font-family: 'Conv_Ossem-Rounded';
font-size: 24px;
    margin-left: 25px;
}
.header-nav-list-item:hover{
    text-decoration:underline;
}

.header-nav-list-item > a{
    color: azure;
    text-decoration: none;
}

.header-list-nav{

}
.header-text-main{
    font-family: 'Conv_Ossem-Rounded';
    font-size: 24px;
    position: absolute;
    margin-left: 43px;
    margin-top: 70px;
    color: antiquewhite;
}

.header-question-btn{
    position: absolute;
    border: 2px solid none;
    padding: 5px;
    font-family: 'Conv_Ossem-Rounded';
    font-size: 20px;
    margin-left: 640px;
    margin-top: 35px;

}


.header-question-btn  a{
    text-decoration: none;
    font-family: 'Conv_Ossem-Rounded';
    color: aliceblue;
}

.header-question-btn  a:hover{
    font-family: 'Conv_Ossem-Rounded';
    color: black;
}

.header-question-btn:hover{
    background-color:antiquewhite;
    color: black;
}



.contacts{
   width: 1278px;
   height: 300px;
   margin-left: 300px;
   margin-top: 2px;
   border: 1px solid black;
}

.footer{
   width: 1278px;
   height: 200px;
   margin-left: 300px;
   margin-top: 2px;
   border: 1px solid black;
    margin-bottom: 20px;
}

.news-header {
    font-family: 'Conv_Ossem-Rounded';
    font-size: 26px;
    text-align: center;
    padding-top: 10px;
    opacity: 1;

}
.news-title{
font-family: 'Conv_Ossem-Rounded';
    font-size: 26px;
    margin-left: 20px;
    padding-left: 500px;
    padding-top: 5px;
    display: block;
}

.content-news{

    width: 1278px;
    height:375px;
    margin-left: 300px;
    margin-top: 2px;
    border: 1px solid black;

    /*Градиент*/

    width: 1278px;
margin-left: 300px;
background: rgb(231,247,249); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(231,247,249,1) 0%, rgba(231,247,249,1) 7%, rgba(231,247,249,1) 12%, rgba(253,254,255,1) 12%, rgba(236,244,248,1) 41%, rgba(212,230,240,1) 52%, rgba(202,220,236,1) 75%, rgba(192,209,230,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(231,247,249,1) 0%,rgba(231,247,249,1) 7%,rgba(231,247,249,1) 12%,rgba(253,254,255,1) 12%,rgba(236,244,248,1) 41%,rgba(212,230,240,1) 52%,rgba(202,220,236,1) 75%,rgba(192,209,230,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(231,247,249,1) 0%,rgba(231,247,249,1) 7%,rgba(231,247,249,1) 12%,rgba(253,254,255,1) 12%,rgba(236,244,248,1) 41%,rgba(212,230,240,1) 52%,rgba(202,220,236,1) 75%,rgba(192,209,230,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7f7f9', endColorstr='#c0d1e6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}


.news-gradient{
width: 1280px;
margin-left: 300px;
background: rgb(231,247,249); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(231,247,249,1) 0%, rgba(231,247,249,1) 7%, rgba(231,247,249,1) 12%, rgba(253,254,255,1) 12%, rgba(236,244,248,1) 41%, rgba(212,230,240,1) 52%, rgba(202,220,236,1) 75%, rgba(192,209,230,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(231,247,249,1) 0%,rgba(231,247,249,1) 7%,rgba(231,247,249,1) 12%,rgba(253,254,255,1) 12%,rgba(236,244,248,1) 41%,rgba(212,230,240,1) 52%,rgba(202,220,236,1) 75%,rgba(192,209,230,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(231,247,249,1) 0%,rgba(231,247,249,1) 7%,rgba(231,247,249,1) 12%,rgba(253,254,255,1) 12%,rgba(236,244,248,1) 41%,rgba(212,230,240,1) 52%,rgba(202,220,236,1) 75%,rgba(192,209,230,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7f7f9', endColorstr='#c0d1e6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}



