/*
'Conv_Ossem-Rounded'
*/
/* Header styles */
.main{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cdeb8b+10,85dddd+100 */
background: rgb(205,235,139); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(205,235,139,1) 10%, rgba(133,221,221,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(205,235,139,1) 10%,rgba(133,221,221,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(205,235,139,1) 10%,rgba(133,221,221,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8b', endColorstr='#85dddd',GradientType=1 ); /* IE6-9 */

}

.header{
    width: 1280px;
    padding-bottom: 375px;
    background: url("../img/head2.png") no-repeat center;
    margin-left: 300px;
    position: relative;


}

.conteiner{
    width: 1280px;
    margin: 0 auto;
    height: 375px;
    position: absolute;


}



.header-logo-link{
    display: block;
    text-decoration: none;
}

.header-logo-1{
    font-family: 'Conv_Ossem-Rounded';
    font-size: 42px;
    color:firebrick;
}

.header-logo-2{
    font-family: 'Conv_Ossem-Rounded';
    font-size: 46px;
    color:black;
}



.header-nav{
    float: right;
    margin-top: 40px;
    margin-right: 20px;
}

.header-logo{
    float: left;
    margin-left: 40px;
    margin-top: 25px;
}


.header-nav-list-item{
float: left;
font-family: 'Conv_Ossem-Rounded';
font-size: 24px;
    margin-left: 25px;
}
.header-nav-list-item:hover{
    text-decoration:underline;
    color: black;
}

.header-nav-list-item a:hover{
    text-decoration:underline;
    color: black;
}

.header-nav-list-item > a{
    color:darkred;
    text-decoration: none;
}

.header-list-nav{

}
.header-text-main{
    font-family: 'Conv_Ossem-Rounded';
    font-size: 24px;
    position: absolute;
    margin-left: 43px;
    margin-top: 70px;
    color:firebrick;
}

.header-question-btn{
    position: absolute;
    border: 2px solid none;
    padding: 5px;
    font-family: 'Conv_Ossem-Rounded';
    font-size: 24px;
    margin-left: 640px;
    margin-top: 35px;

}


.header-question-btn  a{
    text-decoration: none;
    font-family: 'Conv_Ossem-Rounded';
    color:#4d0000;
}

.header-question-btn  a:hover{
    font-family: 'Conv_Ossem-Rounded';
    color: black;
    text-decoration: underline;
}

.header-question-btn:hover{
    color: black;
}



#world_news{
   width: 1278px;
   height: 500px;
   margin-left: 300px;
   margin-top: 2px;
   border-top: 1px solid firebrick;
}

#ukraine_news{
   width: 1278px;
   height: 500px;
   margin-left: 300px;
   margin-top: 2px;
   border-top: 1px solid firebrick;
   border-bottom: 1px solid firebrick;
}

.footer{
   width: 1278px;
   height: 100px;
   margin-left: 300px;
   margin-top: 2px;

    margin-bottom: 20px;
}

.news-header {
    font-family: 'Conv_Ossem-Rounded';
    font-size: 26px;
    text-align: center;
    padding-top: 10px;

    opacity: 1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cdeb8b+10,85dddd+100 */
background: rgb(205,235,139); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(205,235,139,1) 10%, rgba(133,221,221,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(205,235,139,1) 10%,rgba(133,221,221,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(205,235,139,1) 10%,rgba(133,221,221,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8b', endColorstr='#85dddd',GradientType=1 ); /* IE6-9 */
width: 1280px;

}
.news-title{
font-family: 'Conv_Ossem-Rounded';
    font-size: 26px;
    margin-left: 20px;
    padding-left: 800px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 1280px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cdeb8b+10,85dddd+100 */
}

.content-news{

    width: 1278px;
    height:375px;
    margin-left: 300px;
    margin-top: 0.5px;
    /*border: 1px solid black; */
    float: left;






width: 1000px;
margin-left: 300px;


}


.news-currency{
    float: left;
    width: 278px;
    height: 365px;
    border-left: 1px solid rgba(19, 141, 117  );
    border-top: 1px solid rgba(171, 235, 198);
    margin-top: 1px;
    padding-top: 10px;
}


.content-wrap{
    overflow: hidden;
    height: 500px;
}



.news-gradient{
width: 1280px;
margin-left: 300px;
}

.currency-title{
  font-size: 18px;
    font-family: 'Conv_Ossem-Rounded';
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: darkcyan;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cdeb8b+10,85dddd+100 */
background: rgb(205,235,139); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(205,235,139,1) 10%, rgba(133,221,221,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(205,235,139,1) 10%,rgba(133,221,221,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(205,235,139,1) 10%,rgba(133,221,221,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8b', endColorstr='#85dddd',GradientType=1 ); /* IE6-9 */

}

.currency-block-name{
    text-align: center;
    border-bottom: 1px dashed rgba(111,252,230,1) ;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cdeb8b+10,85dddd+100 */

    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: -10px;
    font-family: 'Conv_Ossem-Rounded';
    color:black;
    font-size: 20px;

}
.currency{

text-align: center;

}


.usa-currency{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    margin-left: 20px;
}

.euro-currency{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    margin-left: 20px;
}

.usa-table{

width:150px;
margin-top:5px;
font-family: 'Conv_10112';
font-size: 25px;
    margin-left: 40px;
}

.usa-table td{
padding-bottom: 7px;
}


.euro-table{

width:150px;
margin-top:5px;
padding-right: 25px;
font-family: 'Conv_10112';
font-size: 25px;
    margin-left: 40px;
}

.euro-table td{
padding-bottom: 7px;
}

.buy{
    color: green;
}

.buy:hover{
    font-size: 28px;
}

.sale{
    color:firebrick;
}

.sale:hover:{
    font-size: 28px;
}

.buy-value{
    color: green;
}

.sale-value{
    color:firebrick;
}

.sale-value:hover{
    font-size: 28px;
}

.buy-value:hover{
    font-size: 28px;
}
.yuy{
    float: left;
    height: 220px;
    width: 278px;
    border: 1px solid black;
    margin-top: 1px;
}

.calendar{
    margin-left: 50px;
}


.nws_categ_items1{
 background: url(../img/world_ecomic.png) no-repeat;
width: 354px;
height: 316px;
    margin-top: 13px;
    margin-left: 55px;
    float: left;
    padding-left: 10px;
}

.nws_categ_items2{
    background: url(../img/224831.png);
    width: 400px;
    height: 266px;
    float: left;
    margin-left: 170px;
    margin-top: 20px;
    padding-left: 10px;
}

.category_item-link1{
    font-family: 'Conv_Ossem-Rounded';
    font-style: italic;
    font-size: 25px;
    color: black;
    position: absolute;
    margin-top: 20px;
    margin-left: -25px;
}

.category_item-link2{
    font-family: 'Conv_Ossem-Rounded';
    font-style: italic;
    font-size: 25px;
    color:black;
    position: absolute;
    margin-top: 8px;
    margin-left: 25px;
}

.world-news-title{
   font-family: 'Conv_Ossem-Rounded';
    font-size: 30px;
    margin-top: 30px;
    margin-left: 10px;
    position: absolute;
    color: black;

}
.world-news-item-list{
    float: left;
    margin-top: 70px;
    margin-right: 1px;
    margin-left: 6.5px;
    padding-right: 2px;
    width: 410px;
    height: auto;
    list-style: none;
    border-bottom: 1.5px dashed #457269;
    border-top: 1.5px dashed #457269;
    border-right: 1px dashed #457269;
    border-left: 1px dashed #457269;
}


.world-new-1-title{
     margin-left: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
    font-family: 'Conv_Ossem-Rounded';
}

.world-new-1-img{
    float: left;
    margin: 7px 7px 7px 5px;


}


.world-new-1-text{
  font-size: 16px;
padding-left: 4px;
font-family: 'Conv_Ossem-Rounded';



}

.world-new-2-title{
    margin-left: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
    font-family: 'Conv_Ossem-Rounded';

}

.world-new-2-img{
    float: left;
    margin: 7px 7px 7px 5px;


}


.world-new-2-text{
  font-size: 16px;
padding-left: 4px;
font-family: 'Conv_Ossem-Rounded';



}

.world-new-3-title{
    margin-left: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
    font-family: 'Conv_Ossem-Rounded';

}

.world-new-3-img{
    float: left;
    margin: 7px 7px 7px 5px;
}


.world-new-3-text{
  font-size: 16px;
padding-left: 4px;
font-family: 'Conv_Ossem-Rounded';

}



.ukraine-new-3-text{
font-size: 16px;
padding-left: 4px;
font-family: 'Conv_Ossem-Rounded';
}

/*Новости Украины*/

.ukraine-news-item-list{
    float: left;
    margin-top: 70px;
    margin-right: 1px;
    margin-left: 6.5px;
    padding-right: 2px;
    width: 412px;
    height: auto;
    list-style: none;
    border-bottom: 1.5px dashed #457269;
    border-top: 1.5px dashed #457269;
    border-right: 1px dashed #457269;
    border-left: 1px dashed #457269;


}

.ukraine-news-title{
   font-family: 'Conv_Ossem-Rounded';
    font-size: 30px;
    margin-top: 30px;
    margin-left: 10px;
    position: absolute;
    color: black;

}

.ukraine-1-new-text{
font-size: 16px;
padding-left: 4px;
font-family: 'Conv_Ossem-Rounded';



}

.ukraine-new-1-img{
    float: left;
    margin: 7px 7px 7px 5px;


}

.ukraine-new-1-title{
    margin-left: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
    font-family: 'Conv_Ossem-Rounded';

}

.ukraine-2-new-text{
  font-size: 16px;
padding-left: 4px;
font-family: 'Conv_Ossem-Rounded';



}

.ukraine-new-2-img{
    float: left;
    margin: 7px 7px 7px 5px;


}

.ukraine-new-2-title{
    margin-left: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
    font-family: 'Conv_Ossem-Rounded';

}

.ukraine-3-new-text{
  font-size: 16px;
padding-left: 4px;
font-family: 'Conv_Ossem-Rounded';



}

.ukraine-new-3-img{
    float: left;
    margin: 7px 7px 7px 5px;


}

.ukraine-new-3-title{
    margin-left: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
    font-family: 'Conv_Ossem-Rounded';

}


.a:visited{
    color: firebrick;
}


.footer-logo{
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

.footer-logo-link{
    text-decoration: none;
}


.footer-logo-1{
    font-family: 'Conv_Ossem-Rounded';
    font-size: 22px;
    color:firebrick;

}

.footer-logo-2{
    font-family: 'Conv_Ossem-Rounded';
    font-size: 26px;
    color:black;
}


.footer-text-phone{
 font-family: 'Conv_Ossem-Rounded';
 margin-bottom: 5px;
    margin-top: 5px;
}

.footer-text-email{
 font-family: 'Conv_Ossem-Rounded';
}

.footer-email-logo{
    color: firebrick;
}

.partner-sites-list{
    margin-left: 10px;
    margin-top: 5px;
    font-family: 'Conv_Ossem-Rounded';
    float: right;
    text-align: center;
    margin-right: -600px;

}

.footer-list_item1{
 float: left;
margin-right: 470px;

    height: 100px;

}


.footer-list_item{
 float: left;
margin-right: 470px;


    height: 100px;

}

.footer-partner-2{
    font-family: 'Conv_Ossem-Rounded';
    font-size: 20px;
    color: black;

}

.footer-partner-1{
 font-family: 'Conv_Ossem-Rounded';
    font-size: 22px;
    color: firebrick;
    margin-right: -5px;


}

.footer-list-main{
    width: 1280px;
}

.partner-sites-list{
    margin-bottom: 5px;

    margin-left: 20px;
}

footer-partner-1ist-item{
 padding-top: 25px;

}


.footer-partner-1ist-item a{
   font-family: 'Conv_Ossem-Rounded';
    font-size: 16px;
    color:darkmagenta;
    letter-spacing: 3;
    padding-bottom: 5px;
    text-decoration: none;
}

.copyright{
    font-size: 11px;
    font-family: 'Conv_Ossem-Rounded';
    color: black;
    margin-top: 5px;
    padding-bottom: 5px;
}














